## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1a. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/tyler/Desktop/Data_Bootcamp/Unit_2_Python/WeatherPy_Analysis/World_Weather_Analysis/Vacation _Search/WeatherPy_vacation.csv")
vacation_df.head()

#1b. Read the Vacation_Search.csv into a DataFrame.
search_df = pd.read_csv("/Users/tyler/Desktop/Data_Bootcamp/Unit_2_Python/WeatherPy_Analysis/World_Weather_Analysis/Vacation _Search/Vacation_Search.csv")
search_df.head()

,Hotel Name,City,Country,Max Temp,Lat,Lng,Hotel Name.1
0,0,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
1,3,Atuona,PF,78.08,-9.8000,-139.0333,Villa Enata
2,9,Port Hedland,AU,82.45,-20.3167,118.5667,The Esplanade Hotel
3,32,Hilo,US,81.25,19.7297,-155.0900,Hilo Hawaiian Hotel
4,38,Atambua,ID,85.80,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} Â°F</dd>
</dl>"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Victor Harbor"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Victor Harbor"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Mount Gambier"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Codrington"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Deniliquin"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0] 
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0] 
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0] 
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0] 
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_itinerary = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2, stop3],
    travel_mode = "DRIVING")
fig.add_layer(travel_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,Index,City,Country,Max Temp,Lat,Lng,Hotel Name
0,402,Victor Harbor,AU,89.69,-35.5667,138.6167,McCracken Country Club
1,268,Mount Gambier,AU,78.71,-37.8333,140.7667,The Commodore
2,194,Codrington,AU,76.91,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
3,174,Deniliquin,AU,84.99,-35.5333,144.9667,Riviana Motel

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} Â°F</dd>
</dl>"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))